<section id="dotnav" class="uk-margin-large-bottom" style="scroll-margin-top:20px;">
<h2 class="uk-h3">Slidenav</h2>
<p class="uk-text-muted"><code>uk-slidenav</code> for image gallery / slider navigation.</p>
<div class="uk-card uk-card-default uk-card-body uk-text-center">
<a href="#" uk-slidenav-previous></a> &nbsp; <a href="#" uk-slidenav-next></a>
<p class="uk-text-small uk-text-muted uk-margin-small-top">uk-slidenav-previous / uk-slidenav-next</p>
<a href="#" class="uk-slidenav-large" uk-slidenav-previous></a> &nbsp; <a href="#" class="uk-slidenav-large" uk-slidenav-next></a>
<p class="uk-text-small uk-text-muted">uk-slidenav-large</p>
</div>
</section>
