<section id="offcanvas" class="uk-margin-large-bottom" style="scroll-margin-top:20px;">
<h2 class="uk-h3">Offcanvas</h2>
<p class="uk-text-muted"><code>uk-offcanvas</code>, <code>uk-offcanvas-bar</code>. From <code>_offcanvas.php</code>.</p>
<button class="uk-button uk-button-default" uk-toggle="target:#ds-oc">Open Offcanvas</button>
<div id="ds-oc" uk-offcanvas><div class="uk-offcanvas-bar"><button class="uk-offcanvas-close" type="button" uk-close></button><ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav><li class="uk-nav-header">Pages</li><li class="uk-active"><a href="#">Home</a></li><li class="uk-parent"><a href="#">About</a><ul class="uk-nav-sub"><li><a href="#">Team</a></li></ul></li><li><a href="#">Blog</a></li><li class="uk-nav-divider"></li><li class="uk-nav-header">Admin</li><li><a href="#">Setup</a></li><li><a href="#">Modules</a></li></ul></div></div>
</section>
