<section id="notifications" class="uk-margin-large-bottom" style="scroll-margin-top:20px;">
<h2 class="uk-h3">Notifications</h2>
<div class="uk-card uk-card-default uk-card-body">
<p>
<button class="uk-button uk-button-default uk-button-small" onclick="UIkit.notification({message:'Page saved',status:'primary'})">Primary</button>
<button class="uk-button uk-button-default uk-button-small" onclick="UIkit.notification({message:'Module installed',status:'success'})">Success</button>
<button class="uk-button uk-button-default uk-button-small" onclick="UIkit.notification({message:'Page unpublished',status:'warning'})">Warning</button>
<button class="uk-button uk-button-default uk-button-small" onclick="UIkit.notification({message:'Field missing',status:'danger'})">Danger</button>
</p>
</div>
</section>
