<section id="pagination" class="uk-margin-large-bottom" style="scroll-margin-top:20px;">
<h2 class="uk-h3">Pagination</h2>
<div class="uk-card uk-card-default uk-card-body">
<ul class="uk-pagination" uk-margin><li><a href="#"><span uk-pagination-previous></span></a></li><li><a href="#">1</a></li><li class="uk-disabled"><span>...</span></li><li><a href="#">4</a></li><li class="uk-active"><span>5</span></li><li><a href="#">6</a></li><li class="uk-disabled"><span>...</span></li><li><a href="#">12</a></li><li><a href="#"><span uk-pagination-next></span></a></li></ul>
</div>
</section>
