<section id="description-list" class="uk-margin-large-bottom" style="scroll-margin-top:20px;">
<h2 class="uk-h3">Description List</h2>
<p class="uk-text-muted">From <code>setClasses()</code>: <code>uk-description-list uk-description-list-divider</code>.</p>
<div class="uk-card uk-card-default uk-card-body">
<dl class="uk-description-list uk-description-list-divider">
<dt>Template</dt><dd>basic-page</dd>
<dt>Parent</dt><dd>/home/about/</dd>
<dt>Created</dt><dd>2026-01-10 14:30</dd>
<dt>Modified</dt><dd>2026-01-15 09:22</dd>
<dt>Created By</dt><dd>admin</dd>
</dl>
</div>
</section>
